
@import "tailwindcss";


:root {
  --font-jolly: 'Jolly Lodger', cursive;
  --font-nosifer: 'Nosifer', cursive;

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.font-jolly {
  font-family: var(--font-jolly);
}

.font-nosifer {
  font-family: var(--font-nosifer);
}


.font-nosifer {
  font-family: var(--font-nosifer);
  text-transform: uppercase; 
  font-weight: 800;         
  letter-spacing: 0.05em;    
}



h2 {
  font-family: var(--font-jolly), cursive; 
  font-size: 4rem; 
  color: #FF0700;
  text-transform: none;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 2px;
}
