
@import "tailwindcss";


:root {
  --background: #000000;
  --font-jolly: 'Jolly Lodger', cursive;
  --font-nosifer: 'Nosifer', cursive;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.font-jolly {
  font-family: var(--font-jolly);
}

.font-nosifer {
  font-family: var(--font-nosifer);
}


.font-nosifer {
  font-family: var(--font-nosifer);
  text-transform: uppercase; 
  font-weight: 800;         
  letter-spacing: 0.05em;    
}



